<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
    />
    <link
      rel="shortcut icon"
      href="../img/foto_perfil.jfif"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../css/style.css" />

    <title>Eliana Chávez | Portafolio</title>
  </head>
  <body>
    <header>
      <article>
        <div>
          <h1>Eliana Chávez</h1>
          <h2>Ingeniera & Programadora</h2>
        </div>
      </article>
      <nav>
        <ul>
          <li><a href="../index.html">Hoja de vida</a></li>
          <li><a href="./sobremi.html">Sobre mí</a></li>
          <li><a class="active" href="./portafolio.html">Portafolio</a></li>
          <li><a href="./contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <main class="portafolio">
      <h1>Portafolio</h1>
      <br />
      <p>Estos son algunos de los proyectos personales que he desarrollado</p>

      <section class="portafolio-proyectos">
        <article class="proyecto">
          <h4>VersePocket</h4>
          <br />
          <p>
            Aplicación android para tener a la mano, guardar, clasificar y
            repasar versículos de la Biblia.
          </p>
          <br />
          <ul>
            <li><img src="../img/androide.png" alt="icono-android" /></li>
            <li><img src="../img/java.png" alt="icono-java" /></li>
            <li><img src="../img/mysql.png" alt="icono-mysql" /></li>
          </ul>
          <br />
          <a
            href="https://play.google.com/store/apps/details?id=com.elianachavezv.versepocket&hl=es&gl=US"
            target="_blank"
            >Ver proyecto</a
          >
          <br />
          <div class="portada">
            <img src="../img/versepocket.jpeg" alt="" />
          </div>
        </article>
        <article class="proyecto">
          <h4>Amazon Clone</h4>
          <br />
          <p>
            Una copia de la página de Amazon antigua, con la funcionalidad de
            carrito de compras y creación de sesión
          </p>
          <br />
          <ul>
            <li><img src="../img/firebase.png" alt="icono-firebase" /></li>
            <li><img src="../img/physics.png" alt="icono-react" /></li>
          </ul>
          <br />
          <a href="https://clone-a70b1.firebaseapp.com/" target="_blank"
            >Ver proyecto</a
          >
          <br />
          <div class="portada">
            <img src="../img/amazone-clone.jpeg" alt="" />
          </div>
        </article>

        <article class="proyecto">
          <h4>Sitio web Manage</h4>
          <br />
          <p>
            Una landing page profesional enfocada en los estilos y el diseño
            responsive, incluye animaciones y sombras.
          </p>
          <br />
          <ul>
            <li><img src="../img/html-5.png" alt="icono-html" /></li>
            <li><img src="../img/css-3.png" alt="icono-css" /></li>
          </ul>
          <br />
          <a href="https://elianachv.github.io/manage/" target="_blank"
            >Ver proyecto</a
          >
          <br />
          <div class="portada">
            <img src="../img/manage.jpeg" alt="" />
          </div>
        </article>

        <article class="proyecto">
          <h4>Sitio web Petshop</h4>
          <br />
          <p>
            Una página web modelo de un e-commerce de productos para mascotas,
            con diseño responsive.
          </p>
          <br />
          <ul>
            <li><img src="../img/html-5.png" alt="icono-html" /></li>
            <li><img src="../img/css-3.png" alt="icono-css" /></li>
          </ul>
          <br />
          <a href="https://elianachv.github.io/petshop/" target="_blank"
            >Ver proyecto</a
          >
          <br />
          <div class="portada">
            <img src="../img/petshop.jpeg" alt="" />
          </div>
        </article>
      </section>
    </main>
    <footer>
      <p>Copyright - 2022 <br />Todos los derechos reservados</p>
    </footer>
  </body>
</html>
