<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eliana Chávez | Sobre mí</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
    />
    <link
      rel="shortcut icon"
      href="../img/foto_perfil.jfif"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <article>
        <div>
          <h1>Eliana Chávez</h1>
          <h2>Ingeniera & Programadora</h2>
        </div>
      </article>
      <nav>
        <ul>
          <li><a href="../index.html">Hoja de vida</a></li>
          <li><a class ="active" href="./sobremi.html">Sobre mí</a></li>
          <li><a href="./portafolio.html">Portafolio</a></li>
          <li><a href="./contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1 class="titulo-principal">Sobre mí</h1>
      <section class="seccion-sobre-mi">
        <article class="sobre-mi-foto">
          <img src="../img/foto_perfil.jfif" alt="foto-perfil" />
        </article>
        <article class="sobre-mi-info">
          <h3>¿Quién soy?</h3>
          <p>
            Soy Eliana Chávez, antes de ser programadora soy cristiana, Dios es lo más importante en mi vida. Soy una mujer un poco hiperactiva, me gusta hacer muchas muchas cosas, a veces lidio con como organizar mi tiempo para alcanzar a realizar todas las cosas que disfruto y quiero hacer. Me encanta aprender cosas nuevas y estoy agradecida por tantas personas que ofrecen su conocimiento a través de internent.
          </p>
          <br />
          <h3>¿Qué me gusta?</h3>
          <p>
            Además de programar me gusta hacer muchas otras cosas:
          </p>
          <br />
          <ul>
            <li><img src="../img/correr.png" />Correr</li>
            <li><img src="../img/aro-de-bordado.png" />Bordar</li>
            <li><img src="../img/programacion-web.png" />Hacer cursos online</li>
            <li><img src="../img/carta.png" />Leer y Escribir</li>
            <li style="display: none;"><img src="../img/carta.png" />Escribir</li>
            <li><img src="../img/idiomas.png" />Idiomas</li>
            <li><img src="../img/flauta.png" />Música</li>
          </ul>
        </article>
      </section>
    </main>
    <footer>
      <p>Copyright - 2022 <br />Todos los derechos reservados</p>
    </footer>
  </body>
</html>
